includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - tests/*
    tmpDir: .phpstan-cache

    # WordPress global constants/functions are provided by the extension
    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/stubs/wordpress-stubs/wordpress-stubs.php
