<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main woocommerce-cart","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main woocommerce-cart" id="main-content">
    <!-- wp:group {"className":"cart-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group cart-content">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">Cart</h1>
        <!-- /wp:heading -->

        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
