<!-- wp:template-part {"slug":"checkout-header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main woocommerce-checkout","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main woocommerce-checkout" id="main-content">
    <!-- wp:group {"className":"checkout-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group checkout-content">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">Checkout</h1>
        <!-- /wp:heading -->

        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"checkout-header","tagName":"header"} /-->
